In [20]:
ll = [50, 230, 2, 980, 34, "strings", [1,2.4], (1,2)]
print(type(ll))

<class 'list'>

In [21]:
print(ll[0:3])
print(ll[-1])

print(ll[:])
print(ll[::-1])

[50, 230, 2]
(1, 2)
[50, 230, 2, 980, 34, 'strings', [1, 2.4], (1, 2)]
[(1, 2), [1, 2.4], 'strings', 34, 980, 2, 230, 50]

In [22]:
ll[1] = "new_value"
print(ll)

[50, 'new_value', 2, 980, 34, 'strings', [1, 2.4], (1, 2)]

In [41]:
ll += [4,5,6]
print(ll)

['one', 'two', 'three', 34, 'strings', [1, 2.4], (1, 2), 700, 700, 1, 2, 3, 4, 5, 6, 4, 5, 6]

In [24]:
l1 = [3, 6, 1]
l2 = [4, 2, 9]

In [25]:
l3 = l1 + l2
print(l3)

[3, 6, 1, 4, 2, 9]

In [26]:
ll[1:4] = ["one", "two", "three"]
print(ll)

[50, 'one', 'two', 'three', 34, 'strings', [1, 2.4], (1, 2), 700]

In [27]:
del ll[0]
print(ll)

['one', 'two', 'three', 34, 'strings', [1, 2.4], (1, 2), 700]

list repeatation

In [28]:
a = [1,2,3]
repeated_a = a * 3
print(repeated_a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

membership check

In [29]:
print(5 in a)

False

iteration

In [42]:
for elem in a:
    print(elem)

1
2
3

In [43]:

# comprehension
numbers = list(range(1, 11))
even_numbers = [element for element in numbers if element%2 == 0]
odd_numbers = [element for element in numbers if element%2 != 0]
print("Even numbers: ", even_numbers)
print("Odd numbers: ", odd_numbers)

Even numbers:  [2, 4, 6, 8, 10]
Odd numbers:  [1, 3, 5, 7, 9]

Even numbers:  [2, 4, 6, 8, 10]
Odd numbers:  [1, 3, 5, 7, 9]

check length

In [44]:
print("Length: ", len(numbers))

Length:  10

get the max element

In [34]:
print("Max element: ", max(numbers))

Max element:  10

min, sum, sorted

In [50]:
unsorted = [10, 12, 7, 76, 3, 1, 100]
unsorted.sort()
print(unsorted)

print(len("Pinaki"))

names = ["Naga", "Nilanjan", "Swarvanu", "Pinaki"]
names.sort(key=len)
print(names)

#sorted_names = []
#for elem in names:
 #   length = len(elem)
    ###if()
    #put that name into suitable position into sorted_names = []

#names = sorted_names
#print(sorted_names)

[1, 3, 7, 10, 12, 76, 100]
6
['Naga', 'Pinaki', 'Nilanjan', 'Swarvanu']

In [54]:
sort_index = lambda str_elem: str_elem[1]

In [57]:
names = ["Cognizant", "TCS", "IBM", "Walmart", "MACY"]
# names.sort(key=len)
#names.sort(key=lambda str_elem: str_elem[1])
#print(names)

In [58]:
print(sorted(names, key=sort_index))
print(names)
#print(unsorted)

['MACY', 'IBM', 'TCS', 'Walmart', 'Cognizant']
['Cognizant', 'TCS', 'IBM', 'Walmart', 'MACY']